/* 

HEY THERE.

Please edit the scss file instead of the CSS file...if possible.
otherwise, please make changes in both, so when I compile i don't overwrite!

*/

// Main styles

//@import "vars";
//@import "fonts";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #242424;
	font-family: "Helvetica Neue";
	font-weight: 100;
	color: #fff;
	
}

// transitions
#top-wrap,
li {-webkit-transform:translate3d(0px, 0px, 0px);-webkit-transition:.2s background ease-out;}

// top
#top-wrap.str-0 {
	background: #333;
}
#top-wrap {
	position: fixed;
	z-index: 100;
	width: 100%;
	top:0;
	left:0;
	overflow: hidden;
	
	box-shadow: 0px 1px 4px #000;
	
	text-align: center;
	
		ul {
			margin: 0;
			padding: 0;
		}
		
		li {margin: 0;
			padding: 0;
			display: inline-block;
		}
		
		// Meta menu
		.menu-focus {
			font-size: .7em;
			text-transform: uppercase;
			letter-spacing: .2em;
			color: rgba(255,255,255,.5);
			
			& > li {
				height: 18px;
				padding: 3px 10px 3px 23px;
				margin: 2px;
				position: relative;
				cursor: pointer;
				border-radius: 4px;
			}
			
			& > li:after {
				
				-webkit-mask-position: center 65%;
				-webkit-mask-composite: source-out;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-size: auto 150%;
				background: rgba(255,255,255,.5);
				
				content: '';
				position: absolute;
				top:0px;
				left: 0px;
				width: 22px;
				height: 22px;

			}
		}
		
		.meta-high:after {-webkit-mask-image: url(svg/Thermometer-100.svg);}
		.meta-low:after {-webkit-mask-image: url(svg/Snowflake.svg);}
		.meta-rain:after {-webkit-mask-image: url(svg/Umbrella.svg);}
		.meta-clouds:after {-webkit-mask-image: url(svg/Cloud.svg);}
	}

// Active States.
.display-high .menu-focus .meta-high,
.display-low .menu-focus .meta-low,
.display-rain .menu-focus .meta-rain,
.display-clouds .menu-focus .meta-clouds, {
	background: rgba(0,0,0,.25);
	color: #fff;
	
	& > li:after {
		background: #fff;
		}
}

//structure

.forecast-today {height: 0; overflow:hidden;/* opacity: 0; */-webkit-transition:.2s all ease-out;-webkit-transform:translate3d(0px, 0px, 0px);}
.menu-focus {height: 22px;}
.forecast {padding-top: 22px;-webkit-transition:.2s padding ease-out;-webkit-transform:translate3d(0px, 0px, 0px);}

// Expanded
.expanded-top {
	.forecast-today {height: 200px;opacity: 1;}
	.forecast {
		padding-top: 222px;
	}
}

// settings 
.settings {
	padding: 1em;
}


// Week
.forecast-days {
	margin: 0;
	padding: 0;
	text-align: center;
	
	& > li {
		border-top: 1px solid rgba(255,255,255,.1);
		padding: 1.5em 0;
		overflow: hidden;
	}
	& li > span,
	& li > .icon,
	& li > ul {
		//display: block;
		//float: left;
		display: inline-block;
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}
	
	.icon {width: 15%;}
	.date {width: 20%;}
	.day-meta {
		width: 60%;
		
		li {
			width: 33%;
			float: left;
			
			list-style: none;
		}
		
	}
}

/* === Icons (can go in vars or something) === */
	.icon {
		-webkit-filter: drop-shadow( hsla(0,0%,  0%,.5) 0 0 10px );
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #fff;
		position: relative;
		z-index: 10;
		
		-webkit-mask-position: center center;
		-webkit-mask-composite: source-out;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: auto 150%;
		
		height: 3em;
		}
		.forecast-today .icon {
			display: block;
			height: 9em;
			-webkit-filter: drop-shadow( hsla(0,0%,  0%,.2) 0 0 10px );
		}
	
	$data-type-icons:Sun Cloud-Rain Cloud-Lightning Cloud-Fog Cloud Cloud-Sun Cloud-Drizzle Wind Cloud-Hail Snowflake Cloud-Snow ;
	
	@each $icon in $data-type-icons {
		.icon[data-icon=#{$icon}] {
				-webkit-mask-image: url('svg/#{$icon}.svg');
			}
	}
	
/* === Intensity colors === */

	/* Highs: orange/red */
		$high1: #333333;
		$high2: #6D1900;
		$high3: #FF8700;
		
	
	/* Lows: green/blue/purple */
		$low1: #333333;
		$low2: #0A2633;
		$low3: #3766DD;
	
	/* Rain: misty white/blue */
		$rain1: #333333;
		$rain2: #186011;
		$rain3: #33C666;
	
	
	/* clouds cover: bright blue/darker duller blue */
		//$clouds1: #4A9EE8;
		//$clouds2: #3F4651;
		
	/* the loop: */

	// strength from 0-100 in 5 increments.
	$i: 100;
	$mix1: 100;
	$mix2: 100;
	
	// high values: 100-50
	@while $i > 50 {
		.display-high .str-#{$i} {		background: mix($high3, $high2, $mix1);}
		.display-low .str-#{$i} {		background: mix($low3, $low2, $mix1);}
		.display-rain .str-#{$i} {		background: mix($rain3, $rain2, $mix1);}
		
		$mix1: $mix1 - 10;
		$i: $i - 5;
	}
	
	// low values: 50-0
	@while $i > -5 {
		.display-high .str-#{$i} {background: mix($high2, $high1, $mix2);}
		.display-low .str-#{$i} {background: mix($low2, $low1, $mix2);}
		.display-rain .str-#{$i} {background: mix($rain2, $rain1, $mix2);}
		
		$mix2: $mix2 - 10;
		$i: $i - 5;
	}