/* 

HEY THERE.

Please edit the scss file instead of the CSS file...if possible.
otherwise, please make changes in both, so when I compile i don't overwrite!

*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #242424;
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: #fff; }

#top-wrap,
li {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-transition: .2s background ease-out; }

#top-wrap.str-0 {
  background: #333; }

#top-wrap {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  box-shadow: 0px 1px 4px #000;
  text-align: center; }
  #top-wrap ul {
    margin: 0;
    padding: 0; }
  #top-wrap li {
    margin: 0;
    padding: 0;
    display: inline-block; }
  #top-wrap .menu-focus {
    font-size: .7em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgba(255, 255, 255, 0.5); }
    #top-wrap .menu-focus > li {
      height: 18px;
      padding: 3px 10px 3px 23px;
      margin: 2px;
      position: relative;
      cursor: pointer;
      border-radius: 4px; }
    #top-wrap .menu-focus > li:after {
      -webkit-mask-position: center 65%;
      -webkit-mask-composite: source-out;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: auto 150%;
      background: rgba(255, 255, 255, 0.5);
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 22px;
      height: 22px; }
  #top-wrap .meta-high:after {
    -webkit-mask-image: url(svg/Thermometer-100.svg); }
  #top-wrap .meta-low:after {
    -webkit-mask-image: url(svg/Snowflake.svg); }
  #top-wrap .meta-rain:after {
    -webkit-mask-image: url(svg/Umbrella.svg); }
  #top-wrap .meta-clouds:after {
    -webkit-mask-image: url(svg/Cloud.svg); }

.display-high .menu-focus .meta-high,
.display-low .menu-focus .meta-low,
.display-rain .menu-focus .meta-rain,
.display-clouds .menu-focus .meta-clouds {
  background: rgba(0, 0, 0, 0.25);
  color: #fff; }
  .display-high .menu-focus .meta-high > li:after,
  .display-low .menu-focus .meta-low > li:after,
  .display-rain .menu-focus .meta-rain > li:after,
  .display-clouds .menu-focus .meta-clouds > li:after {
    background: #fff; }

.forecast-today {
  height: 0;
  overflow: hidden;
  /* opacity: 0; */
  -webkit-transition: .2s all ease-out;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.menu-focus {
  height: 22px; }

.forecast {
  padding-top: 22px;
  -webkit-transition: .2s padding ease-out;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.expanded-top .forecast-today {
  height: 200px;
  opacity: 1; }
.expanded-top .forecast {
  padding-top: 222px; }

.settings {
  padding: 1em; }

.forecast-days {
  margin: 0;
  padding: 0;
  text-align: center; }
  .forecast-days > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.5em 0;
    overflow: hidden; }
  .forecast-days li > span, .forecast-days li > .icon, .forecast-days li > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle; }
  .forecast-days .icon {
    width: 15%; }
  .forecast-days .date {
    width: 20%; }
  .forecast-days .day-meta {
    width: 60%; }
    .forecast-days .day-meta li {
      width: 33%;
      float: left;
      list-style: none; }

/* === Icons (can go in vars or something) === */
.icon {
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 0 10px);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  position: relative;
  z-index: 10;
  -webkit-mask-position: center center;
  -webkit-mask-composite: source-out;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: auto 150%;
  height: 3em; }

.forecast-today .icon {
  display: block;
  height: 9em;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 0 10px); }

.icon[data-icon=Sun] {
  -webkit-mask-image: url("svg/Sun.svg"); }

.icon[data-icon=Cloud-Rain] {
  -webkit-mask-image: url("svg/Cloud-Rain.svg"); }

.icon[data-icon=Cloud-Lightning] {
  -webkit-mask-image: url("svg/Cloud-Lightning.svg"); }

.icon[data-icon=Cloud-Fog] {
  -webkit-mask-image: url("svg/Cloud-Fog.svg"); }

.icon[data-icon=Cloud] {
  -webkit-mask-image: url("svg/Cloud.svg"); }

.icon[data-icon=Cloud-Sun] {
  -webkit-mask-image: url("svg/Cloud-Sun.svg"); }

.icon[data-icon=Cloud-Drizzle] {
  -webkit-mask-image: url("svg/Cloud-Drizzle.svg"); }

.icon[data-icon=Wind] {
  -webkit-mask-image: url("svg/Wind.svg"); }

.icon[data-icon=Cloud-Hail] {
  -webkit-mask-image: url("svg/Cloud-Hail.svg"); }

.icon[data-icon=Snowflake] {
  -webkit-mask-image: url("svg/Snowflake.svg"); }

.icon[data-icon=Cloud-Snow] {
  -webkit-mask-image: url("svg/Cloud-Snow.svg"); }

/* === Intensity colors === */
/* Highs: orange/red */
/* Lows: green/blue/purple */
/* Rain: misty white/blue */
/* clouds cover: bright blue/darker duller blue */
/* the loop: */
.display-high .str-100 {
  background: #ff8700; }

.display-low .str-100 {
  background: #3766dd; }

.display-rain .str-100 {
  background: #33c666; }

.display-high .str-95 {
  background: #f07c00; }

.display-low .str-95 {
  background: #325fcc; }

.display-rain .str-95 {
  background: #30bb5d; }

.display-high .str-90 {
  background: #e17100; }

.display-low .str-90 {
  background: #2e59bb; }

.display-rain .str-90 {
  background: #2db155; }

.display-high .str-85 {
  background: #d36600; }

.display-low .str-85 {
  background: #2952aa; }

.display-rain .str-85 {
  background: #2aa74c; }

.display-high .str-80 {
  background: #c45b00; }

.display-low .str-80 {
  background: #254c99; }

.display-rain .str-80 {
  background: #289d44; }

.display-high .str-75 {
  background: #b65000; }

.display-low .str-75 {
  background: #204688; }

.display-rain .str-75 {
  background: #25933b; }

.display-high .str-70 {
  background: #a74500; }

.display-low .str-70 {
  background: #1c3f77; }

.display-rain .str-70 {
  background: #228833; }

.display-high .str-65 {
  background: #983a00; }

.display-low .str-65 {
  background: #173966; }

.display-rain .str-65 {
  background: #207e2a; }

.display-high .str-60 {
  background: #8a2f00; }

.display-low .str-60 {
  background: #133255; }

.display-rain .str-60 {
  background: #1d7422; }

.display-high .str-55 {
  background: #7b2400; }

.display-low .str-55 {
  background: #0e2c44; }

.display-rain .str-55 {
  background: #1a6a19; }

.display-high .str-50 {
  background: #6d1900; }

.display-low .str-50 {
  background: #0a2633; }

.display-rain .str-50 {
  background: #186011; }

.display-high .str-45 {
  background: #671b05; }

.display-low .str-45 {
  background: #0e2733; }

.display-rain .str-45 {
  background: #1a5b14; }

.display-high .str-40 {
  background: #611e0a; }

.display-low .str-40 {
  background: #122833; }

.display-rain .str-40 {
  background: #1d5717; }

.display-high .str-35 {
  background: #5b200f; }

.display-low .str-35 {
  background: #162933; }

.display-rain .str-35 {
  background: #20521b; }

.display-high .str-30 {
  background: #552314; }

.display-low .str-30 {
  background: #1a2b33; }

.display-rain .str-30 {
  background: #224e1e; }

.display-high .str-25 {
  background: #502619; }

.display-low .str-25 {
  background: #1e2c33; }

.display-rain .str-25 {
  background: #254922; }

.display-high .str-20 {
  background: #4a281e; }

.display-low .str-20 {
  background: #222d33; }

.display-rain .str-20 {
  background: #284525; }

.display-high .str-15 {
  background: #442b23; }

.display-low .str-15 {
  background: #262f32; }

.display-rain .str-15 {
  background: #2a4028; }

.display-high .str-10 {
  background: #3e2d28; }

.display-low .str-10 {
  background: #2a3033; }

.display-rain .str-10 {
  background: #2d3c2c; }

.display-high .str-5 {
  background: #38302d; }

.display-low .str-5 {
  background: #2e3133; }

.display-rain .str-5 {
  background: #30372f; }

.display-high .str-0 {
  background: #333333; }

.display-low .str-0 {
  background: #333333; }

.display-rain .str-0 {
  background: #333333; }
